---
layout: default
---

<div class="home">

  
  
  {{ content }}

  <div class="row">
    {% for post in site.posts %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div class="col-md-3">
         
         <div >

            <a href="{{ post.url | relative_url }}" target="_self">
              <div class="caption">
                <h2 style="text-align: center;">{{ post.title | escape }}</h2>
              </div>
              <img src="{{ post.gambar | escape }}" alt="Lights" style="width:100%">
              
            </a>


        </div>
        <center><h4>{{ post.date | date: date_format }}</h4></center>

      </div>
    {% endfor %}
  </div>



</div>
